<app-dialog-form>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="modal-body">
            <div class="form-group mb-3">
                <label for="email">Email Address</label>
                <input
                    formControlName="email"
                    class="form-control" 
                    placeholder="name@example.com"
                    id="email" 
                    name="email"
                    required
                />
            </div>
            <div class="form-group mb-3">
                <label for="facebook">Facebook Link</label>
                <input
                    formControlName="facebook"
                    class="form-control" 
                    placeholder="https://..."
                    id="facebook" 
                    name="facebook"
                />
            </div>
            <div class="form-group mb-3">
                <label for="linkedIn">LinkedIn Link</label>
                <input
                    formControlName="linkedIn"
                    class="form-control" 
                    placeholder="https://..."
                    id="linkedIn" 
                    name="linkedIn"
                />
            </div>
            <div class="form-group mb-3">
                <label for="instagram">Instagram Link</label>
                <input
                    formControlName="instagram"
                    class="form-control" 
                    placeholder="https://..."
                    id="instagram" 
                    name="instagram"
                />
            </div>
            <div class="form-group mb-3">
                <label for="weChat">Wechat Link</label>
                <input
                    formControlName="weChat"
                    class="form-control" 
                    placeholder="https://..."
                    id="weChat" 
                    name="weChat"
                />
            </div>
            <div class="form-group">
                <label for="weibo">Weibo Link</label>
                <input
                    formControlName="weibo"
                    class="form-control" 
                    placeholder="https://..."
                    id="weibo" 
                    name="weibo"
                />
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-secondary shadow flex-grow-1 m-2" type="submit" [disabled]="form.disabled">
                <span *ngIf="!submitting; else spinner">Update</span>
            </button>
        </div>
        
    </form>
</app-dialog-form>

<ng-template #spinner>
    <span class="spinner-border spinner-border-sm" role="status"></span>
</ng-template>