<div class="container-fluid">
    <div class="row bg-dark text-white justify-content-center align-items-end pb-3">
        <div class="col-12">

            <div class="row justify-content-end my-5">

                <div class="col-md-3 col-sm-12">
                    <h1 class="h4 ml-3">Navigation</h1>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/home">主页 | Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/updates">动态 | Updates</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/discography">作品集 | Discography</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/media">媒体 | Media</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-12">
                    <div class="d-flex align-items-center ml-3">
                        <h1 class="h4 m-0">Social Media</h1>

                        <button *ngIf="isSignedIn$ | async" class="btn btn-link" (click)="openSocialMediaAdmin()">
                            <fa-icon [icon]="faEdit" size="lg"></fa-icon>
                        </button>            
                    </div>
                    <!-- <h1 class="h4 ml-3">
                        Social Media
                        <button *ngIf="isSignedIn$ | async" class="btn btn-link" (click)="openSocialMediaAdmin()">
                            <fa-icon [icon]="faEdit" size="lg"></fa-icon>
                        </button>
                    </h1> -->
                    <ul class="nav flex-column" *ngIf="(socialMedia$ | async) as socialMedia">

                        <li class="nav-item" *ngIf="socialMedia.facebook">
                            <a class="nav-link" href="{{ socialMedia.facebook }}">
                                <fa-icon [icon]="faFacebookSquare" size="lg" [styles]="{ 'color': '#4267B2'}"></fa-icon>
                                <div class="align-middle d-inline ml-3">Facebook</div>
                            </a>
                        </li>

                        <li class="nav-item" *ngIf="socialMedia.linkedIn">
                            <a class="nav-link" href="{{ socialMedia.linkedIn }}">
                                <fa-icon [icon]="faLinkedin" size="lg" [styles]="{ 'color': 'teal'}"></fa-icon>
                                <div class="align-middle d-inline ml-3">LinkedIn</div>
                            </a>
                        </li>

                        <li class="nav-item" *ngIf="socialMedia.instagram">
                            <a class="nav-link" href="{{ socialMedia.instagram }}">
                                <fa-icon [icon]="faInstagram" size="lg" [styles]="{ 'color': 'orange'}"></fa-icon>
                                <div class="align-middle d-inline ml-3">Instagram</div>
                            </a>
                        </li>

                        <li class="nav-item" *ngIf="socialMedia.weChat">
                            <a class="nav-link" href="{{ socialMedia.weChat }}">
                                <fa-icon [icon]="faWeixin" size="lg" [styles]="{ 'color': '#7bb32e'}"></fa-icon>
                                <div class="align-middle d-inline ml-3">微信</div>
                            </a>
                        </li>

                        <li class="nav-item" *ngIf="socialMedia.weibo">
                            <a class="nav-link" href="{{ socialMedia.weibo }}">
                                <fa-icon [icon]="faWeibo" size="lg" [styles]="{ 'color': '#df2029'}"></fa-icon>
                                <div class="align-middle d-inline ml-3">新浪微博</div>
                            </a>
                        </li>

                    </ul>
                </div>

                <div class="col-md-3 col-sm-12">
                    <h1 class="h4 ml-3">Legals</h1>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/privacy-policy">Privacy Policy | 隐私条款</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/terms-of-service">Terms of Service | 条款及规则</a>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link btn btn-link" *ngIf="isSignedIn$ | async; else login" (click)="signOut()">
                                Sign out
                            </button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row justify-content-around">
                <div class="col-auto">
                    <small>©2023 Kaze Patricio Chan. All Rights Reserved.</small>
                </div>
                <div class="col-auto">
                    <small>Web Design by Michael May</small>
                </div>
            </div>

        </div>
    </div>
</div>

<ng-template #login>
    <button class="nav-link btn btn-link" (click)="signIn()">
        Admin Portal
    </button>
</ng-template>