<!-- Navbar filling -->
<div style="height: 5rem;"></div>

@if(song$ | async; as song) {
    <div class="container mt-5">
        <div class="row">
            <div class="card bg-dark text-white border-0">
        
                <img class="card-img" [src]="buildImage(song.thumbnail, song.coverId) | async" style="height: 25rem;">
        
                <div class="card-img-overlay h-100 d-flex flex-column justify-content-between">
                    <div class="card-title d-flex justify-content-between align-items-end">
                        <h1 class="display-4 bg-dark px-2 pb-2">{{ song.title }}</h1>
                        <p class="d-md-block d-none">{{ song.date.toDate() | date : 'fullDate' }}</p>
                    </div>
                    <audio class="w-100" [src]="buildAudio(song.audioId) | async" controls></audio>
                </div>
        
            </div>
        </div>

        <div class="row my-3">
            <h2 class="col-auto h5 d-flex align-items-center px-0">Links | 链接</h2>
            <button class="btn btn-link col-auto" (click)="redirect(song)" [hidden]="!song.soundCloud">
                <fa-icon [icon]="faSoundcloud" size="2x" [style.color]="'#FF4300'"></fa-icon>
            </button>
        </div>
    </div>
}

<main class="container border mb-5">
    <div class="p-3">
        @if(blog$ | async; as blog) {
            <h2>{{ blog.title  }}</h2>
            <p>{{ blog.content }}</p>
        }
    </div>
</main>