<ul class="list-group list-group-flush">
    <li class="fade-in list-group-item d-flex align-items-center" *ngFor="let item of collection$ | async">
        <img class="mr-3" *ngIf="!item.link" src="./assets/images/bullhorn-solid.svg" height="50" width="50">
        <div class="flex-grow-1">
            <p class="h5">{{ item.description || item.title }}</p>
            <a href="item.link" *ngIf="showDate">{{ item.date | timeFromNow }} left! {{ item.description ? item.title : "event detail here..." }}</a>
            <a href="item.link" *ngIf="!showDate">{{ item.description ? item.title : "event detail here..." }}</a>
        </div>
        
        <a *ngIf="item.link" [href]="item.link">
            <img class="event-img border border-dark" [src]="(item.image$ | async) || ''" [default]="stockImage$ | async">
        </a>
    </li>
</ul>