/* You can add global styles to this file, and also import other style files */
@use "src/assets/scss/button.scss";
@use "src/assets/scss/link.scss";
@use "src/assets/scss/input.scss";
@use "src/assets/scss/select.scss";
@use "src/assets/scss/radio-group.scss";
@use "src/assets/scss/divider.scss";
@use "src/assets/scss/background.scss";
@use '~swiper/swiper-bundle';
@import '~@angular/cdk/overlay-prebuilt.css';

// html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1, h2, h3, h4, p { font-weight: normal; }
ul, ol { list-style: none; padding: 0; }

* { transition: all .3s ease-in-out; box-sizing: border-box; }