<section class="title">
    <img *ngIf="(datasource.thumbnail$ | async) as thumbnail" [src]="thumbnail" width="60px" height="60px" />
    <div class="text">
        <h2>{{ datasource.title | limit:40 }}</h2>
        <time class="date" [dateTime]="datasource.created">{{ datasource.created | date:'fullDate' }}</time>
    </div>
</section>

<p *ngIf="datasource.content">{{ datasource.content }}</p>

<div class="gallery" *ngIf="datasource.gallery">
    <img *ngFor="let media of datasource.gallery" [src]="media.url$ | async" width="100%" />
</div>