@use 'src/assets/scss/theme.scss' as theme;

:host {
    padding: map-get(theme.$spacing, std);

    display: flex;
    flex-direction: column;

    border: 1px solid map-get(theme.$palettes, black);;
    background-color: map-get(theme.$palettes, white);
}

p {
    margin-bottom: map-get(theme.$spacing, std);
    font-size: calc(14rem / #{map-get(theme.$text, std)});
}

.title {
    margin-bottom: map-get(theme.$spacing, std);

    display: flex;
    align-items: stretch;

    .text {
        margin-left: 24px;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        h2 { font-size: calc(18rem / #{map-get(theme.$text, std)}); margin: 0; }
    
        .date {
            font-size: calc(12rem / #{map-get(theme.$text, std)});
        }
    }
}

.gallery {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 100px;
    grid-gap: 8px;
    gap: 8px;

    img {
        object-fit: cover;
        height: 100%;
    }

    & > :nth-child(2) {
        grid-column: 2;
    }

    & > :nth-last-child(5) ~ :nth-child(3),
    & > :nth-last-child(7) ~ :nth-child(3), /* 7 = 5 + 2 */
    & > :nth-last-child(9) ~ :nth-child(3) { /* 9 = 7 + 2 */
        grid-column: 3;
    }

    & > :nth-last-child(1):nth-child(1),
    & > :nth-last-child(2):nth-child(1),
    & > :nth-last-child(1):nth-child(2) {
        grid-row: 1/3;
    }
}

@media(min-width: map-get(theme.$screens, tablet)) {
    .gallery {
        grid-auto-rows: 200px;
    }
}