<div class="container-fluid">
    <div class="row bg-dark text-white justify-content-center align-items-end pb-3">
        <div class="col-12">

            <div class="row justify-content-end my-5">

                <div class="col-md-3 col-sm-12">
                    <h1 class="h4 ml-3" i18n>Navigation</h1>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/home" i18n>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/announcements" i18n>Announcements</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/works" i18n>Works</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/blogs" i18n>Blogs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/media" i18n>Media</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-12">
                    <h1 class="h4 ml-3" i18n>Social Media</h1>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="www.instagram.com">
                                <img src="./assets/images/instagram-brands.svg" height="20rem" height="20rem">
                                <span i18n>Instagram</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="www.linkedin.com">
                                <img src="./assets/images/linkedin-brands.svg" height="20rem" height="20rem">
                                <span i18n>LinkedIn</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-12">
                    <h1 class="h4 ml-3" i18n>Legals</h1>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#" i18n>Privacy Policy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" i18n>Terms & Conditions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" i18n>Cookie Policy</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row justify-content-around">
                <div class="col-auto" style="font-size: .8rem;">
                    ©2019 Kaze Patricio Chan. All Rights Reserved.
                </div>
                <div class="col-auto" style="font-size: .8rem;">
                    Web Design by Michael May
                </div>
            </div>

        </div>
    </div>
</div>