<div class="container-fluid">
    <div class="row bg-dark text-white justify-content-center align-items-end pb-3">
        <div class="col-12">

            <div class="row justify-content-end my-5">

                <div class="col-md-3 col-sm-12">
                    <h1 class="h4 ml-3">Navigation</h1>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/announcements">Announcements</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/works">Works</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/blogs">Blogs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/media">Media</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-12">
                    <h1 class="h4 ml-3">Social Media</h1>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="www.instagram.com">
                                <img src="./assets/images/instagram-brands.svg" height="20rem" height="20rem">
                                Instagram
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="www.linkedin.com">
                                <img src="./assets/images/linkedin-brands.svg" height="20rem" height="20rem">
                                LinkedIn
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-12">
                    <h1 class="h4 ml-3">Legals</h1>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Privacy Policy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Terms & Conditions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Cookie Policy</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row justify-content-around">
                <div class="col-auto" style="font-size: .8rem;">
                    ©2019 Kaze Patricio Chan. All Rights Reserved.
                </div>
                <div class="col-auto" style="font-size: .8rem;">
                    Web Design by Michael May
                </div>
            </div>

        </div>
    </div>
</div>