$primary: #4EBFD9;
$secondary: #A69B2B;
$tertiary: #DF6795;
$enable-responsive-font-sizes: true;

$card-border-radius: 0;
$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$input-border-radius: 0;
