$primary: #4EBFD9;
$secondary: #A69B2B;
$tertiary: #DF6795;
$enable-responsive-font-sizes: true;

$card-border-radius: 0;
$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$input-border-radius: 0;

$popover-border-color: $tertiary;
$popover-border-width: 4px;
$popover-header-bg: $tertiary;
$popover-header-color: white;
$popover-body-padding-x: 0;
$popover-body-padding-y: 0;