@use 'src/assets/scss/theme.scss' as theme;

:host {
    min-height: 100vh;
    margin: map-get(theme.$spacing, std) map-get(theme.$spacing, page);
    display: block;
}

button { padding: 0; }

.title { display: none; }

.gallery {
    clear: both;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
    gap: 12px;

    .gallery-column {
        display: flex;
        flex-direction: column;
    }

    .gallery-item {
        width: 100%;
        margin-bottom: 12px;
    }
}

.radio-group {
    margin: 24px 0;
    display: flex;
    label { flex: 1; text-align: center; }
}

@media (min-width: map-get(theme.$screens, laptop)) {
    :host { margin: map-get(theme.$spacing, std) map-get(theme.$spacing, page-wide); }

    .title { display: block; }

    .gallery {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .radio-group {
        float: right;
        label { flex: 0; text-align: left; }
    }
}