<h1 class="title">Media Archive | 媒体资料库</h1>

<article class="radio-group" role="group">
    <input type="radio" name="filter" id="all" checked>
    <label for="all">All</label>
    
    <input type="radio" name="filter" id="photos">
    <label for="photos">Photos</label>
    
    <input type="radio" name="filter" id="videos">
    <label for="videos">Videos</label>
</article>

<section class="gallery">
    <div class="gallery-column" *ngFor="let group of (media.get$ | async | group:(breakpoint$ | async) ? 4 : 2)">
        <img class="gallery-item" *ngFor="let item of group" [src]="item.coverImage$ | async" />
    </div>
</section>
