<cdk-virtual-scroll-viewport class="feed" itemSize="10">
    <div class="tool-bar">
        <h1 class="title">近期动态 Recent Announcements</h1>
        <article class="radio-group" role="group">
            <input type="radio" name="btnradio" id="all" checked>
            <label for="all">All</label>
            
            <input type="radio" name="btnradio" id="events">
            <label for="events">Events</label>
            
            <input type="radio" name="btnradio" id="posts">
            <label for="posts">Posts</label>
        </article>
    </div>
    <app-post-card *cdkVirtualFor="let post of socials.posts$ | async" [datasource]="post"></app-post-card>
</cdk-virtual-scroll-viewport>