@use 'src/assets/scss/theme.scss' as theme;

app-post-card {
    margin: map-get(theme.$spacing, std) map-get(theme.$spacing, page);
}

.tool-bar {
    width: 100%;
    margin: 0 map-get(theme.$spacing, page);

    .title {
        display: none;
    }

    .radio-group {
        display: flex;
    
        label { flex: 1; text-align: center; }
    }
}

.feed {
    height: calc(100vh - 88px);
}

@media (min-width: map-get(theme.$screens, laptop)) {
    app-post-card {
        width: calc(50% - 48px - 17.5px);
        margin: map-get(theme.$spacing, std) auto;
    }

    .tool-bar {
        width: calc(50% - 17.5px);
        margin: auto;
    
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title { display: block; }

        .radio-group {
            label { flex: 0; }
        }
    }
}