<cdk-virtual-scroll-viewport class="feed" itemSize="10">
    <div class="top-bar">
        <h1 class="title">近期动态 Recent Announcements</h1>
        <article class="radio-group" role="group">
            <input type="radio" name="btnradio" id="btnradio1" checked>
            <label for="btnradio1">All</label>
            
            <input type="radio" name="btnradio" id="btnradio2">
            <label for="btnradio2">Events</label>
            
            <input type="radio" name="btnradio" id="btnradio3">
            <label for="btnradio3">Posts</label>
        </article>
    </div>
    <app-post-card *cdkVirtualFor="let post of socials.posts$ | async" [datasource]="post"></app-post-card>
</cdk-virtual-scroll-viewport>