<div class="container-fluid">
    <div class="row bg-dark text-white justify-content-center align-items-end pb-3">
        <div class="col-12">

            <div class="row justify-content-end my-5">

                <div class="col-md-3 col-sm-12">
                    <h1 class="h4 ml-3">Navigation</h1>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/home">主页 | Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/announcements">动态 | Updates</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/works">作品 | Works</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/media">媒体 | Media</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-12">
                  <h1 class="h4 ml-3">Social Media</h1>
                  <ul class="nav flex-column" *ngIf="(socialMedia$ | async) as socialMedia">

                    <li class="nav-item" *ngIf="socialMedia.facebook">
                      <a class="nav-link" href="{{ socialMedia.facebook }}">
                        <img src="./assets/images/facebook-square-brands.svg" height="20" width="20">
                        <div class="align-middle d-inline ml-3">Facebook</div>
                      </a>
                    </li>

                    <li class="nav-item" *ngIf="socialMedia.linkedin">
                      <a class="nav-link" href="{{ socialMedia.linkedin }}">
                        <img src="./assets/images/linkedin-brands.svg" height="20" width="20">
                        <div class="align-middle d-inline ml-3">LinkedIn</div>
                      </a>
                    </li>

                    <li class="nav-item" *ngIf="socialMedia.instagram">
                      <a class="nav-link" href="{{ socialMedia.instagram }}">
                        <img src="./assets/images/instagram-brands.svg" height="20" width="20">
                        <div class="align-middle d-inline ml-3">Instagram</div>
                      </a>
                    </li>

                    <li class="nav-item" *ngIf="socialMedia.wechat">
                      <a class="nav-link" href="{{ socialMedia.wechat }}">
                        <img src="./assets/images/weixin-brands.svg" height="20" width="20">
                        <div class="align-middle d-inline ml-3">微信</div>
                      </a>
                    </li>

                    <li class="nav-item" *ngIf="socialMedia.weibo">
                      <a class="nav-link" href="{{ socialMedia.weibo }}">
                        <img src="./assets/images/weibo-brands.svg" height="20" width="20">
                        <div class="align-middle d-inline ml-3">新浪微博</div>
                      </a>
                    </li>

                  </ul>
                </div>

                <div class="col-md-3 col-sm-12"></div>
                <!-- <div class="col-md-3 col-sm-12">
                    <h1 class="h4 ml-3">Legals</h1>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Privacy Policy | 隐私条款</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Cookie Policy | Cookie 条款</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Terms & Conditions</a>
                        </li>
                    </ul>
                </div> -->
            </div>

            <div class="row justify-content-around">
                <div class="col-auto" style="font-size: .8rem;">
                    ©2019 Kaze Patricio Chan. All Rights Reserved.
                </div>
                <div class="col-auto" style="font-size: .8rem;">
                    Web Design by Michael May
                </div>
            </div>

        </div>
    </div>
</div>
