<div class="row my-3">
    <!-- One large block -->
    <div class="col-md-8 col-12 p-3" *ngIf="xlBlock$ | async as xlBlock" (mouseenter)="hover = xlBlock" (mouseleave)="hover = null">
        <a class="fade-in card bg-dark text-white w-100 card-big" style="height:20rem; white-space: pre-line;" [href]="xlBlock.url">
            <img class="card-img" [src]="xlBlock.image$ | async" [ngStyle]="{ filter: hover == xlBlock ? 'opacity(.5) blur(5px)' : '' }">
            <div class="card-img-overlay d-flex flex-column" [ngStyle]="{ opacity: hover == xlBlock ? '1' : '0' }">
                <h2 class="display-3 card-text flex-grow-1 d-flex justify-content-end align-items-end">
                    {{ xlBlock.title }} | <span class="h3">{{ xlBlock.subtitle }}</span>
                </h2>
            </div>
        </a>
    </div>

    <!-- Second large block -->
    <div class="col-md-4 col-12 p-3" *ngIf="lgBlock$ | async as lgBlock" (mouseenter)="hover = lgBlock" (mouseleave)="hover = null">
        <a class="fade-in card bg-dark text-white w-100 card-big" style="height: 20rem;" [href]="lgBlock.url">
            <img class="card-img" [src]="lgBlock.image$ | async" [ngStyle]="{ filter: hover == lgBlock ? 'opacity(.5) blur(5px)' : '' }">
            <div class="card-img-overlay d-flex flex-column" [ngStyle]="{ opacity: hover == lgBlock ? '1' : '0' }">
                <h2 class="h1 card-text">{{ lgBlock.title }}</h2>
                <p class="h3 card-text flex-grow-1 d-flex d-flex justify-content-end align-items-end">
                    {{ lgBlock.subtitle }}
                </p>
            </div>
        </a>
    </div>

    <!-- Wide sized blocks -->
    <div class="col-md-4 col-12 p-3" *ngFor="let wideBlock of wideBlocks$ | async" (mouseenter)="hover = wideBlock" (mouseleave)="hover = null">
        <a class="fade-in card bg-dark text-white w-100 card-mid" style="height: 8rem;" [href]="wideBlock.url">
            <img class="card-img" [src]="wideBlock.image$ | async" [ngStyle]="{ filter: hover == wideBlock ? 'opacity(.5) blur(5px)' : '' }">
            <div class="card-img-overlay" [ngStyle]="{ opacity: hover == wideBlock ? '1' : '0' }">
                <h2 class="h5 card-text">{{ wideBlock.title }}</h2>
                <p class="card-text">{{ wideBlock.subtitle }}</p>
            </div>
        </a>
    </div>

    <!-- Small blocks, all remaining -->
    <div class="col-md-3 d-md-block d-none p-3" *ngFor="let smBlock of smBlocks$ | async" (mouseenter)="hover = smBlock" (mouseleave)="hover = null">
        <a class="fade-in card bg-dark text-white w-100 card-small" style="height: 12rem;" [href]="smBlock.url">
            <img class="card-img" [src]="smBlock.image$ | async" [ngStyle]="{ filter: hover == smBlock ? 'opacity(.5) blur(5px)' : '' }">
            <div class="card-img-overlay d-flex flex-column" [ngStyle]="{ opacity: hover == smBlock ? '1' : '0' }">
                <h2 class="h4 card-text flex-grow-1 d-flex align-items-end text-right">
                  {{ smBlock.title }}
                </h2>
            </div>
        </a>
    </div>

</div>
