<app-banner [quote$]="quote$" [backgroundUrl]="'banner-3.jpg'"></app-banner>

<div class="jumbotron mb-0">
    <div class="container p-1">

        <h2>
            Image Gallery | 媒体库
            <button class="btn btn-link" *ngIf="loggedIn" (click)="edit('moments')">
                <img src="assets/images/edit-regular.svg" height="40" width="40">
            </button>
        </h2>

        <hr />

        <div class="row m-n1 justify-content-center">
            <a class="fade-in thumbnail col-lg-2 col-md-3 col-sm-6 p-1" (click)="open(content, moment)"
                *ngFor="let moment of moments$ | async">
                <img [src]="moment.thumbnail" class="thumbnail-img">
            </a>
        </div>

    </div>
</div>

<ng-template #content let-modal>
    <a aria-label="Close" (click)="modal.dismiss('Cross click')" class="modal-close">
        <span aria-hidden="true">&times;</span>
    </a>
    <img src="{{ current.image$ | async }}" class="img-fluid">
</ng-template>
