<app-banner [quote$]="quote$" [backgroundUrl]="'banner-3.jpg'"></app-banner>

<div class="jumbotron mb-0">
    <div class="container p-1">

        <h2>Image Gallery | 媒体库</h2>

        <hr />

        <div class="row m-n1 justify-content-center">
            <a class="col-lg-2 col-md-3 col-sm-6 p-1 thumbnail" (click)="open(content, moment)"
                *ngFor="let moment of momentList$ | async" [@fadeIn]>
                <img src="{{ moment.image }}" class="thumbnail-img">
            </a>
        </div>

    </div>
</div>

<ng-template #content let-modal>
    <a aria-label="Close" (click)="modal.dismiss('Cross click')" class="modal-close">
        <span aria-hidden="true">&times;</span>
    </a>
    <img src="{{ current.image }}" class="img-fluid">
</ng-template>