@import "../../../custom.scss";

.container {
    min-height: 45vh;
}

.thumbnail {
    height: 10rem;
    width: 10rem;
}

.thumbnail-img {
    object-fit: cover; 
    height: 100%;
    width: 100%;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 3rem;
}