<nav class="navbar navbar-expand-lg navbar-dark bg-dark position-absolute w-100">

    <a class="navbar-brand text-secondary ml-3" routerLink="/home">
      <div class="name" [ngClass]="!(animState$ | async) ? '' : 'reverse'">Kaze Patricio Chan</div>
      <div class="name" [ngClass]="(animState$ | async) ? '' : 'reverse'">陈 蔚 风 | OFFICIAL</div>
    </a>

    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a class="nav-link text-white text-lg-center px-3" [ngClass]="currentUrl == '/updates' && 'shadow'" routerLink="/updates">
                    <div class="d-inline d-lg-block label">动态</div>
                    <div class="d-inline d-lg-block text-monospace sub-label">Updates</div>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white text-lg-center px-3" [ngClass]="currentUrl == '/discography' && 'shadow'" routerLink="/works">
                    <div class="d-inline d-lg-block label">作品</div>
                    <div class="d-inline d-lg-block text-monospace sub-label">Discography</div>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white text-lg-center px-3" [ngClass]="currentUrl == '/media' && 'shadow'" routerLink="/media">
                    <div class="d-inline d-lg-block label">媒体</div>
                    <div class="d-inline d-lg-block text-monospace sub-label">Media</div>
                </a>
            </li>
            
        </ul>
    </div>
</nav>
