$enable-responsive-font-sizes: true;

$theme-colors: (
  "primary": #4EBFD9,
  "secondary": #A69B2B,
  "tertiary": #DF6795
);

$card-border-radius: 0;
$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$input-border-radius: 0;
