<ng-template #ContentRef let-modal>
  <div class="modal-header">
    <img src="assets/images/edit-regular.svg" height="30" width="30">
    <h4 class="modal-title ml-2" style="text-transform: capitalize;">{{ editorType }} Editor</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" [ngSwitch]="editorType">
    <app-songs *ngSwitchCase="'songs'"></app-songs>
    <app-biography *ngSwitchCase="'biography'"></app-biography>
    <app-social-media *ngSwitchCase="'social-media'"></app-social-media>
    <app-posts *ngSwitchCase="'posts'"></app-posts>
    <app-moments *ngSwitchCase="'moments'"></app-moments>
  </div>
</ng-template>