<ng-template #ContentRef let-modal>
  <div class="modal-header">
    <fa-icon [icon]="['far', 'edit']" size="lg"></fa-icon>
    <h4 class="modal-title ml-2" style="text-transform: capitalize;">{{ editorType }} Editor</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" [ngSwitch]="editorType">
    <app-music-admin *ngSwitchCase="'music'"></app-music-admin>
    <app-biography *ngSwitchCase="'biography'"></app-biography>
    <app-social-media *ngSwitchCase="'social-media'"></app-social-media>
    <app-update-admin *ngSwitchCase="'update'"></app-update-admin>
    <app-moments *ngSwitchCase="'moments'"></app-moments>
  </div>
</ng-template>