@use 'src/assets/scss/theme.scss' as theme;

button {
    padding: 14px 0;

    color: inherit;
    background: none;
    border: none;
    border-radius: 0;

    cursor: pointer;

    &:focus { outline: none; }
}

button.outline {
    padding: 8px 12px;

    border: 2px solid map-get(theme.$palettes, accent);
    color: map-get(theme.$palettes, accent);
}