@use 'src/assets/scss/theme.scss' as theme;

a {
    display: inline-block;

    color: inherit;
    text-decoration: none;
    
    cursor: pointer;
    
    &:hover { color: inherit; }
}

a.navlink {
    color: map-get(theme.$palettes, primary);
    font-size: calc(14rem / #{map-get(theme.$text, std)});
}