@use 'src/assets/scss/theme.scss' as theme;

.radio-group {
    color: map-get(theme.$palettes, primary);
    font-size: calc(14rem / #{map-get(theme.$text, std)});

    label:first-of-type {
        border-left: 2px solid map-get(theme.$palettes, primary);
    }

    label {
        padding: 6px 12px;
        border: 2px solid map-get(theme.$palettes, primary);
        border-left: none;
        background-color: transparent;

        cursor: pointer;
    }

    input {
        opacity: 0;
        width: 0;
        height: 0;
        margin: 0;
    }

    input[type="radio"]:checked + label {
        color: map-get(theme.$palettes, white);
        background-color: map-get(theme.$palettes, primary);
    }
}