$palettes: (
    primary: #4EBFD9,
    accent: #A69B2B,
    highlight: #DF6795,
    black: #343A40,
    white: #FFFFFF
);

$spacing: (
    small: 4px,
    std: 24px,
    wide: 48px,
    page: 80px,
    page-wide: 128px,
);

$screens: (        
    tablet: 640px,
    laptop: 1024px,
    desktop: 1440px,
    4k: 2560px
);

$text: (
    std: 16,
);