@import "../../../custom.scss";

.container {
    min-height: 45vh;
}

.history-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.history-list-wrapper{
    height: 14rem;
    overflow: hidden;
    position: relative;
}

.history-list{
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    /* Increase/Decrease this value for cross-browser compatibility */
    left: -17px;
    right: -17px;
    padding-left: 17px;
    padding-right: 17px;

    list-style: none;
}