@import "../../../custom.scss";

.container {
    min-height: 45vh;
}

.banner {
    background: url('../../../assets/images/bg-1.jpg');
    background-size: cover;
    height: 50vh;
}

.history-list {
    list-style: none;
    height: 14rem;
    overflow-y: hidden;
}

.history-list:hover {
    overflow-y: scroll;
}

.history-item {
    padding-top: 10px;
    padding-bottom: 10px;
}