<app-banner [background]="'banner-1.jpg'"></app-banner>

<div class="container">
    <div class="row my-5">

        <div class="col-lg-9 col-md-12">
            <h2 class="h4 mb-5 lead">Latest Announcements | 最新动态</h2>
            <app-upcoming-events [latest$]="latest$"></app-upcoming-events>
        </div>

        <div class="col-lg-3 col-md-12 d-none d-md-block" *ngIf="(history$ | async) as history" [@fadeInOpt]>
            <div class="anim-obj">
                <h2>
                    <div class="display-4">历史动态</div>
                    <div class="h1 text-monospace text-uppercase">History</div>
                </h2>
                <div class="history-list-wrapper">
                    <ul
                    class="history-list"
                    infiniteScroll
                    [infiniteScrollDistance]="2"
                    [infiniteScrollThrottle]="50"
                    [scrollWindow]="false"
                    (scrolled)="onScroll()"        
                    >
                        <li class="history-item" *ngFor="let announcement of history">
                            {{ announcement.title }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

<app-email></app-email>