<div class="btn-group me-3" role="group">
    <button
        type="button"
        class="btn btn-outline-secondary"
        [class.active]="_selected() == FeedType.ALL"
        (click)="filterChange.emit(FeedType.ALL)"
    >
        All
    </button>
    <button
        type="button"
        class="btn btn-outline-secondary"
        [class.active]="_selected() == FeedType.EVENT"
        (click)="filterChange.emit(FeedType.EVENT)"
    >
        Events
    </button>
    <button
        type="button"
        class="btn btn-outline-secondary"
        [class.active]="_selected() == FeedType.POST"
        (click)="filterChange.emit(FeedType.POST)"
    >
        Posts
    </button>
</div>