@use 'src/assets/scss/theme.scss' as theme;

:host {
    position: relative;
    min-height: 293px;
    padding: 24px;

    display: flex;
    align-items: flex-end;

    border: 1px map-get(theme.$palettes, black) solid;
    font-size: calc(36rem / #{map-get(theme.$text, std)});
    color: white;
}

p, span { 
    margin: 0;
    z-index: 10;
    pointer-events: none;
}

.divider {
    margin: 0 24px;
}

.subtitle {
    font-size: calc(18rem / #{map-get(theme.$text, std)});
}

.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
 
    background-position: center;
    background-size: contain;
}

.blur {
    transition: none;
    &:hover {
        filter: blur(4px);
        margin: -5px;
    }
}