<article class="background blur" [style]="backgroundUrl"></article>

<article *ngIf="(song$ | async) as song" class="player">
    <section>
        <div>
            <h1 class="title">{{ song.title }}</h1>
        </div>
        <time class="subtitle" [dateTime]="song.created">{{ song.created | date }}</time>
    </section>


    <audio [src]="song.audio$ | async" controls></audio>

    <div *ngIf="(song.coverImage$ | async) as coverImage" class="background" [style.background-image]="'url(' + coverImage + ')'"></div>
</article>