<div style="height: 10vh"></div>

<div class="container mt-5" *ngIf="(music$ | async) as music">
    <div class="card bg-dark text-white border-0">

        <img class="card-img" [src]="(music.cover$ | async) || ''" style="height: 25rem;">

        <div class="card-img-overlay h-100 d-flex flex-column justify-content-between">
            <div class="card-title d-flex justify-content-between align-items-end">
                <h1 class="display-4 bg-dark px-2 pb-2">{{ music.title }}</h1>
                <p class="d-md-block d-none">{{ music.date | date : 'fullDate' }}</p>
            </div>
            <audio class="w-100" [src]="(music.audio$ | async) || ''" controls></audio>
        </div>

    </div>
</div>

<div class="container mb-5">
    <div class="row mx-0 my-3 border" *ngIf="(music$ | async) as music">
        <!-- <h2 class="col-auto h5 d-flex align-items-center">Share | 分享</h2> -->
        <h2 class="col-auto h5 d-flex align-items-center">Links | 链接</h2>
        <button class="btn btn-link col-auto" (click)="redirect(music)" [hidden]="!music.soundCloud">
            <fa-icon [icon]="['fab', 'soundcloud']" size="2x" [styles]="{ 'color': '#FF4300' }"></fa-icon>
        </button>
    </div>
</div>

<!-- <div class="container mb-5">
    <div class="border p-3">
        <h2>Thoughts | 感想</h2>
        <p>...under construction</p>
    </div>
</div> -->
