<div class="d-flex">

    <div class="infinite-scroll flex-grow-1 w-100 m-2">
        <ul class="list-group" infiniteScroll [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50" [scrollWindow]="false" (scrolled)="onScroll()">
            <li 
            class="list-group-item list-group-item-action d-flex flex-column" 
            *ngFor="let item of selection$ | async"
            (click)="onSelect(item)"
            [ngClass]="current && current.id == item.id ? 'active' : ''" 
            >
                <img class="card-img" *ngIf="item.thumbnail" src="{{ item.thumbnail }}" height="100" width="300">
                <div class="mx-2">
                    <h4>{{ item.title }}</h4>
                    <p>{{ item.description }}</p>
                </div>
            </li>
        </ul>
    </div>

    <form class="card flex-grow-1 w-100 m-2 py-2 px-4" (ngSubmit)="onSubmit()" #editorForm="ngForm">

        <div class="form-group">
            <label for="title">Update Title</label>
            <input type="text" class="form-control" id="title" placeholder="...Macau Visit" name="title" [(ngModel)]="model.title">
        </div>
        <div class="form-group">
            <label for="description">Summary</label>
            <input type="text" class="form-control" id="description" placeholder="...going to Macau on Saturday" name="description" [(ngModel)]="model.description">
        </div>
        <div class="form-group">
            <label for="date">Date of Event</label>
            <input type="date" class="form-control" id="date" name="date" [(ngModel)]="model.date">
        </div>
        <div class="form-group">
            <label for="link">Link</label>
            <input type="link" class="form-control" id="link" name="link" [(ngModel)]="model.link">
        </div>

        <div class="form-group">
            <label for="cover-wrapper">Preview Image</label>
            <div class="custom-file" id="cover-wrapper">
                <input type="file" class="custom-file-input" id="cover" (change)="onPreviewChange($event)" [disabled]="submitting">
                <label class="custom-file-label" for="cover">{{ thumbnail.status }}</label>
            </div>
            <div class="progress" style="height: 2px;">
                <div class="progress-bar" [ngClass]="progressState(thumbnail.status)" role="progressbar"></div>
            </div>
        </div>

        <div class="d-flex w-100 mt-2">
            <button class="btn btn-secondary shadow flex-grow-1 m-2" type="submit" [disabled]="submitting">
                {{ current ? "Change" : "Add" }}
            </button>
            <button class="btn btn-danger shadow m-2" type="button" [disabled]="submitting" *ngIf="current" (click)="onRemove()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </form>
</div>