@use 'src/assets/scss/theme.scss' as theme;

:host {
    overflow: hidden;
    position: relative;
    min-height: 28px;

    display: block;

    background-color: map-get(theme.$palettes, black);
    font-size: calc(12rem / #{map-get(theme.$text, std)});
    text-transform: uppercase;
    letter-spacing: 4px;
}

.menu-item {
    $height: theme.$header * 0.34;
    height: $height;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    border: 2px solid map-get(theme.$palettes, accent);
    border-radius: 50%;
    margin: auto 12px;
}

.edge-fade {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 33vw;
    z-index: 10;

    &.left {
        left: 0;
        background-image: linear-gradient(to right, black, transparent);
    }

    &.right {
        right: 0;
        background-image: linear-gradient(to left, black, transparent);
    }
}