<app-album-cover [coverImage]="song.coverImage$ | async" [class]="isActive ? '__hover' : ''">
    <ng-container *ngIf="isActive; then Controls else Content"></ng-container>
</app-album-cover>

<ng-template #Content>
    <ng-content></ng-content>
</ng-template>

<ng-template #Controls>
    <button *ngIf="song.audio" class="audio-toggle" (click)="toggleAudio()">
        <fa-icon [icon]="isAudioOn ? faStopCircle : faPlayCircle" size="6x"></fa-icon>
        <audio *ngIf="isAudioOn" [src]="song.audio$ | async" autoplay></audio>
    </button>

    <article class="controls">
        <section class="content">
            <ng-content></ng-content>
        </section>
        <a *ngIf="song.soundCloud" [href]="song.soundCloud">
            <fa-icon [icon]="faSoundcloud"></fa-icon>
        </a>
        <a [routerLink]="['/music', song.id]">
            <fa-icon [icon]="faInfoCircle"></fa-icon>
        </a>
    </article>
</ng-template>