@import 'src/assets/scss/theme.scss';

:host {
    overflow: hidden;
    position: relative;
    min-height: 28px;

    display: block;
}

.label-list {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 4px;
    overflow-x: scroll;
    white-space: nowrap;
    /* Increase/Decrease this value for cross-browser compatibility */
    top: -17.5px;
    bottom: -17.5px;
    padding-top: 17.5px;
    padding-bottom: 17.5px;

    display: flex;
    padding-left: map-get($spacing, wide);
    .end-pad {
        margin-left: map-get($spacing, wide);
        opacity: 0;
        &::after { content: '_'; }
    }
}

.edge-fade {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15vw;
    z-index: 10;
}

.edge-fade.left {
    left: 0;
    background-image: linear-gradient(to right, rgba(0,0,0,.5), transparent);
}

.edge-fade.right {
    right: 0;
    background-image: linear-gradient(to left, rgba(0,0,0,.5), transparent);
}

// /* Hide scrollbar for Chrome, Safari and Opera */
// :host::-webkit-scrollbar {
//     display: none;
// }

// /* Hide scrollbar for IE, Edge and Firefox */
// :host {
//     display: flex;
//     overflow-x: scroll;
//   -ms-overflow-style: none;  /* IE and Edge */
//   scrollbar-width: none;  /* Firefox */
// }