<h2 class="title">Email Me | 联系我</h2>

<form class="email">
    <div class="form-ctrl">
        <label>Your message - 信息内容</label>
        <div class="textarea-wrapper">
            <textarea rows="10" placeholder="Please leave a quick message for me"></textarea>
        </div>
    </div>

    <section>
        <div class="form-ctrl">
            <label>{{ emailTitle }}</label>
            <select>
                <option [value]="null">Click to select - 点击选择</option>
                <option [value]="0">Business - 商务</option>
                <option [value]="1">Collab - 合作</option>
                <option [value]="2">Others - 其它</option>
            </select>
        </div>
    
        <div class="form-ctrl">
            <label>{{ emailTemplate }}</label>
            <select>
                <option [value]="null">Click to select - 点击选择</option>
                <option [value]="0">Business - 商务</option>
                <option [value]="1">Collab - 合作</option>
                <option [value]="2">Others - 其它</option>
            </select>
        </div>
    
        <div class="form-ctrl">
            <label>Your email - 您的邮箱</label>
            <input placeholder="e.g. example@mail.com" />
        </div>
        
        <div>
            <button class="solid">Send | 发送</button>
        </div>
    </section>
</form>