<div class="space-padding"></div>

<div class="navbar">

    <a routerLink="/home">
        <h1 class="title">Kaze Patricio Chan</h1>
    </a>
    
    <a class="home-btn" routerLink="/home">
        <fa-icon [icon]="faHome" size="2x"></fa-icon>
    </a>

    <nav class="nav-menu">
        <a routerLink="/updates">
            <div class="text main">动态</div>
            <fa-icon [icon]="faMusic" size="sm"></fa-icon>
            <div class="text alt">updates</div>
        </a>
        <span class="dot"></span>
        <a routerLink="/discography">
            <div class="text main">作品集</div>
            <fa-icon [icon]="faMusic" size="sm"></fa-icon>
            <div class="text alt">discography</div>
        </a>
        <span class="dot"></span>
        <a routerLink="/media">
            <div class="text main">媒体</div>
            <fa-icon [icon]="faMusic" size="sm"></fa-icon>
            <div class="text alt">media</div>
        </a>
    </nav>
    <!-- <div class="nav-menu">
        <ng-container *ngTemplateOutlet="menu"></ng-container>
    </div> -->
</div>

<app-scroll-wheel-picker *ngIf="!(breakpoint$ | async)"></app-scroll-wheel-picker>

<!-- <app-scrollable-labels class="tab-menu" [class.inactive]="!isActive">
    <ng-container *ngTemplateOutlet="menu"></ng-container>
</app-scrollable-labels>

<ng-template #menu>
    <a routerLink="/updates">
        <div class="text main">动态</div>
        <fa-icon [icon]="faMusic" size="sm"></fa-icon>
        <div class="text alt">updates</div>
    </a>
    <span class="dot"></span>
    <a routerLink="/discography">
        <div class="text main">作品集</div>
        <fa-icon [icon]="faMusic" size="sm"></fa-icon>
        <div class="text alt">discography</div>
    </a>
    <span class="dot"></span>
    <a routerLink="/media">
        <div class="text main">媒体</div>
        <fa-icon [icon]="faMusic" size="sm"></fa-icon>
        <div class="text alt">media</div>
    </a>
</ng-template> -->