@use 'src/assets/scss/theme.scss' as theme;

app-showcase {
    padding: map-get(theme.$spacing, std) map-get(theme.$spacing, page);
}

app-quick-feed {
    padding: map-get(theme.$spacing, std) map-get(theme.$spacing, page);
}

app-biography {
    padding: map-get(theme.$spacing, std) map-get(theme.$spacing, page);
}

app-email-me {
    padding: map-get(theme.$spacing, std) map-get(theme.$spacing, page);
}

@media (min-width: map-get(theme.$screens, laptop)) {
    app-showcase, app-quick-feed, app-biography, app-email-me {
        padding-left: map-get(theme.$spacing, page-wide);
        padding-right: map-get(theme.$spacing, page-wide);
    }

    app-showcase {
        padding-top: map-get(theme.$spacing, large);
    }

    app-quick-feed {
        padding-bottom: map-get(theme.$spacing, large);
    }

    app-biography, app-email-me {
        padding-top: map-get(theme.$spacing, large);
        padding-bottom: map-get(theme.$spacing, large);
    }

    .divider {
        margin-left: map-get(theme.$spacing, page-wide);
        margin-right: map-get(theme.$spacing, page-wide);
    }
}