@import 'src/assets/scss/theme.scss';

.navbar {
    position: relative;
    height: 48px;
    z-index: 10;
    padding: 0 map-get($spacing, std);

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: map-get($palettes, white);
    background-color: map-get($palettes, black);

    > button { display: block }
}

.nav-menu { display: none; }

.tab-menu {
    height: 34px;

    color: map-get($palettes, white);
    background-color: map-get($palettes, black);
    opacity: .9;

    fa-icon { color: map-get($palettes, accent); }

    &:hover { opacity: 1; }

    &.inactive {
        margin-top: -34px;
    }
}

.text {
    display: inline; 
    margin: 0 map-get($spacing, small); 
    text-transform: uppercase;
}

.main { font-size: 12px; }
.alt { font-size: 12px; }

.title {
    font-size: 20px;
    color: map-get($palettes, accent);
}

.dot {
    border: 2px solid white;
    border-radius: 50%;
    margin: 8px 12px auto 12px;
}

@media (min-width: map-get($screens, laptop)) {
    .navbar { 
        height: 88px;
        > button { display: none }
    }

    .nav-menu {
        position: static;
        margin-top: 0;

        display: flex;
        text-align: center;

        fa-icon { display: none; }
        .text { display: block; }
        .main { font-size: 24px; }
        .alt { font-size: 12px; }
    }

    .tab-menu { display: none; }
    
    .title {
        font-size: 26px;
    }

    .dot { display: none; }
}