<div class="navbar">

    <a routerLink="/home">
        <h1 class="title">Kaze Patricio Chan</h1>
    </a>
    
    <button (click)="onMenuClick()">
        <fa-icon [icon]="faGuitar" size="2x"></fa-icon>
    </button>

    <div class="nav-menu">
        <ng-container *ngTemplateOutlet="menu"></ng-container>
    </div>
</div>

<app-scrollable-labels class="tab-menu" [class.inactive]="!isActive">
    <ng-container *ngTemplateOutlet="menu"></ng-container>
</app-scrollable-labels>

<ng-template #menu>
    <a routerLink="/updates">
        <div class="text main">动态</div>
        <fa-icon [icon]="faMusic" size="sm"></fa-icon>
        <div class="text alt">updates</div>
    </a>
    <span class="dot"></span>
    <a routerLink="/discography">
        <div class="text main">作品集</div>
        <fa-icon [icon]="faMusic" size="sm"></fa-icon>
        <div class="text alt">discography</div>
    </a>
    <span class="dot"></span>
    <a routerLink="/media">
        <div class="text main">媒体</div>
        <fa-icon [icon]="faMusic" size="sm"></fa-icon>
        <div class="text alt">media</div>
    </a>
</ng-template>