<swiper [slidesPerView]="1">
    <ng-template swiperSlide>
        <app-album-cover [coverImage]="album.coverImage$ | async">
            <p>{{ album.title }}</p>
        </app-album-cover>
    </ng-template>
    <ng-template *ngFor="let song of album.songs" swiperSlide>
        <app-quick-player [song]="song" [isActive]="true">
            <p>{{ song.title }}</p>
        </app-quick-player>
    </ng-template>
    <!-- <ng-template *ngFor="let song of currentSongs$ | async" swiperSlide>
        <app-quick-player [song]="song" [isActive]="true">
            <p>{{ song.title }}</p>
        </app-quick-player>
    </ng-template> -->
</swiper>