@use 'src/assets/scss/theme.scss' as theme;

:host {
    color: black !important;
}

$gap: 12px;

app-quick-player, app-album-cover {
    height: 100vh;
    margin: 0;
}

swiper {
    height: 100vh;
}

p {
    position: inherit;
    margin: 0;
    pointer-events: none;
}