<div class="jumbotron jumbotron-fluid mb-0 bg-primary text-white">
    <div class="container">
        <h2 class="h4">
            <!-- <img src="./assets/images/at-solid.svg" height="40rem" width="40rem"> -->
            Email Enquiry
        </h2>
        <form class="row mt-3" (ngSubmit)="onSubmit()" #contactForm="ngForm">
            <div class="col-md-6 col-sm-12">

                <label for="message">your message</label>
                <textarea 
                class="form-control" 
                id="message" 
                name="message"
                rows="9" 
                placeholder="Required example textarea"
                [(ngModel)]="model.message"
                required
                >
                </textarea>
                
            </div>
            <div class="col-md-6 col-sm-12">

                <label for="purpose">purpose of enquiry</label>
                <select 
                class="form-control" 
                id="purpose"
                name="purpose"
                [(ngModel)]="model.purpose"
                >
                    <!-- <option [value]="pow">Information Enquiry</option>
                    <option>Collaboration</option>
                    <option>Commission Work</option>
                    <option>Event Attendance</option>
                    <option>Tutoring</option> -->
                    <option [value]="0">Deail</option>
                    <option [value]="1">Others</option>
                </select>

                <label for="senderType">a bit about yourself</label>
                <select 
                class="form-control" 
                id="senderType"
                name="senderType"
                [(ngModel)]="model.senderType"
                >
                    <option [value]="0">Manager / representative</option>
                    <!-- <option [value]="1">Business Owner</option> -->
                    <option [value]="1">Fellow Musician</option>
                    <!-- <option>Creative Individual</option> -->
                    <option [value]="2">Others</option>
                </select>

                <label for="sender">your email</label>
                <input 
                class="form-control" 
                type="email" 
                id="sender" 
                name="sender"
                [(ngModel)]="model.sender"
                placeholder="your@email.com..."
                required
                >

                <button 
                class="btn btn-secondary mt-2 shadow" 
                [disabled]="!contactForm.form.valid"
                (click)="changeSuccessMessage()"
                >
                    Submit form
                </button>

            </div>
        </form>
    </div>
</div>

<div style="position: fixed; top: 5px; left: 0; width: 100%; z-index: 3; margin: auto; text-align: center;">
    <ngb-alert *ngIf="successMessage" type="info" (close)="successMessage = null">
        {{ successMessage }}
    </ngb-alert>
</div>