<div class="sub-bg container-fluid bg-primary text-white">
    <div class="container py-5">

        <app-title
            class="flex-row-reverse justify-content-end"
            text="Email Me | 联系我"
            textClass="h4"
            altColourEdit
            (editClick)="openEmailEditor()"
        />

        <form
            class="row mt-3 was-validated"
            novalidate
            [class.was-validated]="validating()"
            [formGroup]="form"
            (ngSubmit)="onSubmit()"
        >
            <div class="col-md-6 col-sm-12">
                <label for="message" class="form-label">Your message - 信息内容</label>
                <textarea 
                    formControlName="message"
                    class="form-control" 
                    rows="10" 
                    placeholder="write your message here, thanks..."
                    id="message" 
                    name="message"
                    required
                >
                </textarea>
                <div class="invalid-feedback">
                    Please leave a quick message for me
                </div>
            </div>

            <div class="col-md-6 col-sm-12">

                <label for="purpose" class="form-label">What's it about - 消息抬头</label>
                <select 
                    formControlName="purpose"
                    class="form-select mb-2" 
                    id="purpose"
                    name="purpose"
                    required
                >
                    <option value="">Select an option - 选择抬头</option>
                    @for(purpose of purposeOptions$ | async; track purpose) {
                        <option [value]="purpose">{{ purpose }}</option>
                    }
                    <option value="Others - 其它">Others - 其它</option>
                </select>

                <label for="senderType" class="form-label">A bit about yourself - 如何描述您</label>
                <select 
                    formControlName="senderType"
                    class="form-select mb-2" 
                    id="senderType"
                    name="senderType"
                    required
                >
                    <option value="">Select an option - 选择描述</option>
                    @for(senderType of senderTypeOptions$ | async; track senderType) {
                        <option [value]="senderType">{{ senderType }}</option>
                    }
                    <option value="Others - 其它">Others - 其它</option>
                </select>

                <label for="sender" class="form-label">Your email - 您的邮箱</label>
                <input 
                    formControlName="sender"
                    class="form-control mb-2" 
                    type="email" 
                    id="sender" 
                    name="sender"
                    placeholder="name@example.com..."
                    required
                    email
                >
                <div class="invalid-feedback" >
                    Please provide a valid email address
                </div>

                <button class="btn btn-secondary mt-2 shadow text-white" type="submit">
                    @if(submitting()) {
                        <span class="spinner-border spinner-border-sm" role="status"></span>
                    } @else {
                        Send | 发送
                    }
                </button>

            </div>
        </form>
        
    </div>
</div>

@if(success$ | async; as successMessage) {
    <ngb-alert type="info" (close)="onClose()">
        {{ successMessage }}
    </ngb-alert>
}

@if(failed$ | async; as failedMessage) {
    <ngb-alert type="warning" (close)="onClose()">
        {{ failedMessage }}
    </ngb-alert>
}