@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

img {
    width: 150px;
}

.carousel {
    top: 0;
    left: 0;
    height: 50vh;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}
.carousel .wrapper {
    width: 3000px;
    margin-top: calc(50vh - 160px);
}

.quotes {
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0 50px;
}

.background {
    height: 50vh;
    width: 100%;
    top: 0;
    z-index: -2;
}

@include media-breakpoint-up(lg) {
    img {
        width: 300px;
    }
    .carousel .wrapper {
        width: 100%;
        margin-left: 15vw;
        margin-top: 0;
    }
    .quotes {
        height: 40vh;
    }
}