@use 'src/assets/scss/theme.scss' as theme;

:host {
    color: map-get(theme.$palettes, white);
}

app-quick-player, app-album-cover {
    height: 100vh;
    // margin: 0;
}

swiper {
    height: 100vh;
}

p {
    position: inherit;
    margin: 0;
    pointer-events: none;
}

.gallery {
    $gap: 12px;

    margin: 0 map-get(theme.$spacing, page-wide);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: $gap;
    gap: $gap;

    & > app-quick-player, & > button > app-album-cover {
        $offset: $gap * 3 + map-get(theme.$spacing, page-wide) * 2 + theme.$scrollbar2;
        // It seems like each block need to remove border of all border on the row.
        // It's likely caused by "box-sizing: border-box" on all;
        $borders: 1px * 2 * 4;
        height: calc((100vw - #{$offset}) / 4 - #{$borders});
    }

    & > app-quick-player, & > button {
        padding: 0;
        overflow: hidden;
    }
}

@media (min-width: map-get(theme.$screens, laptop)) {
    :host {
        position: relative;
        min-height: 100vh;
        padding: map-get(theme.$spacing, page-wide) 0;

        display: block;
    }

    .title {
        position: inherit;

        margin: 0 map-get(theme.$spacing, page-wide);
        margin-bottom: map-get(theme.$spacing, std);

        & > * { display: inline; vertical-align: middle; }
    }

    .background {
        height: 80vh;
        background: linear-gradient(transparent 0%, white 75%), var(--bg);
    }
}