<!-- Mobile Viewport -->
<swiper *ngIf="isMobile$ | async" [slidesPerView]="1" [direction]="'vertical'" [autoHeight]="true" (activeIndexChange)="activeIndexChange($event)">
    <ng-template *ngFor="let album of albumWithSongs$ | async" swiperSlide>
        <app-music-gallery-songs [album]="album"></app-music-gallery-songs>
    </ng-template>
</swiper>

<!-- Desktop Viewport -->
<ng-container *ngIf="!(isMobile$ | async)">
    <article class="background blur" [style]="backgroundUrl"></article>

    <section class="title">
        <button (click)="backToAlbum()">
            <fa-icon [icon]="faAngleDoubleLeft" size="3x"></fa-icon>
        </button>
        <h1>Composed by Me | 我的作品</h1>
    </section>
    <section class="gallery">
        <button *ngFor="let album of delayedAlbums$ | async" (click)="selectAlbum(album)" [@pressDown]>
            <app-album-cover [coverImage]="album.coverImage$ | async">
                <p>{{ album.title }}</p>
            </app-album-cover>
        </button>

        <app-quick-player *ngFor="let song of delayedSongs$ | async" [song]="song" [@pressDown]>
            <p>{{ song.title }}</p>
        </app-quick-player>
    </section>
</ng-container>