<app-banner-landing [quote$]="quote$" (onScrolldown)="scrolldown()"></app-banner-landing>

<div class="container my-5 py-5">

  <div style="min-height: 30vh;" #HighlightRef>
    <div class="d-flex align-items-center">
      <ng-container *ngIf="!loggedIn; else SongEditor">
        <img src="assets/images/record-vinyl-solid.svg" height="40" width="40">
      </ng-container>
      <ng-template #SongEditor>
        <button class="btn btn-link" (click)="edit('music')">
          <img src="assets/images/edit-regular.svg" height="35" width="35">
        </button>
      </ng-template>
      <h1 class="h2 ml-2">Highlights | 作品一览</h1>
    </div>
    <app-highlight [animTrigger$]="highlightTrigger$" [datasource$]="highlight$"></app-highlight>
  </div>

  <hr />

  <div style="min-height: 30vh;" [ngClass]="(updates$ | async) ? 'd-block' : 'd-none'" #UpcomingRef>
    <h1 class="lead text-center">Upcoming Events | 最新动态</h1>
    <app-listing [animTrigger$]="listingTrigger$" [datasource$]="upcoming$" [showDate]="true"></app-listing>
  </div>

</div>

<div class="jumbotron jumbotron-fluid mb-0 bg-dark text-white" style="min-height: 30vh;" #BiographyRef>
  <div class="container">

    <div class="d-flex align-items-center mb-4">
      <ng-container *ngIf="!loggedIn; else BioEditor">
        <img src="assets/images/portrait-solid.svg" height="40" width="40">
      </ng-container>
      <ng-template #BioEditor>
        <button class="btn btn-link" (click)="edit('biography')">
          <img src="assets/images/edit-regular.svg" height="35" width="35">
        </button>
      </ng-template>
      <h1 class="h2 ml-2">Biography | 简介</h1>
    </div>

    <div *ngIf="(biography$ | async) as biography" class="row mx-n3" style="white-space: pre-line;">
      <p class="biography fade-in col-md-6 col-sm-12 px-3 lead">
        {{ biography[1] ? biography[0] : biography[0] | column : 1 : 2 }}
      </p>
      <p class="biography fade-in col-md-6 col-sm-12 px-3 lead">
        {{ biography[1] ? biography[1] : biography[0] | column : 2 : 2 }}
      </p>
    </div>
    
  </div>
</div>

<app-email></app-email>
