@import "../../../custom.scss";

.card-img {
    object-fit: cover; 
    height: 100%;
}

a.media {
    color: black;
}

a.media:hover {
    text-decoration: none;
}

.biography {
    line-height: 200%;
}