@import "../../../custom.scss";

.container {
    min-height: 45vh;
}

.card {
    height: 15rem;
}

.card-img {
    object-fit: cover; 
    height: 100%;
}

.banner {
    background: url('../../../assets/images/bg-2.png');
    background-size: cover;
    height: 50vh;
}