<div class="d-flex align-items-center mb-2">
    <h1 class="h4 m-0">Social Media</h1>
    @if (viewOnly$ | async) {
        <button class="btn btn-link" (click)="openSocialMediaEditor()">
            <fa-icon [icon]="faEdit" size="lg"></fa-icon>
        </button>      
    }    
</div>

<ul class="nav flex-column">
    @if (socialMedia$ | async; as socialMedia) {
        @if (socialMedia.facebook) {
            <li class="nav-item">
                <a class="nav-link px-0 d-flex align-items-center" href="{{ socialMedia.facebook }}">
                    <fa-icon [icon]="faFacebookSquare" size="lg" [style.color]="'#4267B2'"></fa-icon>
                    <div class="ms-3">Facebook</div>
                </a>
            </li>
        }
    
        @if (socialMedia.linkedIn) {
            <a class="nav-link px-0 d-flex align-items-center" href="{{ socialMedia.linkedIn }}">
                <fa-icon [icon]="faLinkedin" size="lg" [style.color]="'teal'"></fa-icon>
                <div class="ms-3">LinkedIn</div>
            </a>
        }
    
        @if (socialMedia.instagram) {
            <li class="nav-item">
                <a class="nav-link px-0 d-flex align-items-center" href="{{ socialMedia.instagram }}">
                    <fa-icon [icon]="faInstagram" size="lg" [style.color]="'orange'"></fa-icon>
                    <div class="ms-3">Instagram</div>
                </a>
            </li>
        }
    
        @if (socialMedia.weChatQrCode) {
            <li class="nav-item">
                <button
                    class="nav-link px-0 d-flex align-items-center"
                    placement="top"
                    [ngbPopover]="popContent"
                    popoverTitle="微信二维码"
                >
                    <fa-icon [icon]="faWeixin" size="lg" [style.color]="'#7bb32e'"></fa-icon>
                    <div class="ms-3">微信</div>
                </button>

                <ng-template #popContent>
                    <img class="card-img" [src]="socialMedia.weChatQrCode">
                </ng-template>
            </li>
        }
    
        @if (socialMedia.weibo) {
            <li class="nav-item">
                <a class="nav-link px-0 d-flex align-items-center" href="{{ socialMedia.weibo }}">
                    <fa-icon [icon]="faWeibo" size="lg" [style.color]="'#df2029'"></fa-icon>
                    <div class="ms-3">新浪微博</div>
                </a>
            </li>
        }
    }
</ul>