@use 'src/assets/scss/theme.scss' as theme;

:host {
    padding: map-get(theme.$spacing, large) map-get(theme.$spacing, page);
}

.player {
    height: 100vh;
    position: relative;
    margin: map-get(theme.$spacing, large) map-get(theme.$spacing, page);
    padding: 14px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1,time {
    padding: 14px;

    color: map-get(theme.$palettes, white);
    background-color: map-get(theme.$palettes, black);
}

audio { width: 100%; }

@media (min-width: map-get(theme.$screens, laptop)) {
    :host {
        display: block;
        padding: map-get(theme.$spacing, large) map-get(theme.$spacing, page-wide);

        & > .background {
            height: 80vh;
            z-index: -2;
            background: linear-gradient(transparent 0%, white 75%), var(--bg);
        }
    }
    
    .player {
        height: 500px;
    }
}