@use 'src/assets/scss/theme.scss' as theme;

:host {
    margin: 0 map-get(theme.$spacing, page);
    display: block;
}

app-post-card {
    border: none;
    padding: 0;
}

.title {
    text-align: center;
    font-size: map-get(theme.$text, heading);
}

@media (min-width: map-get(theme.$screens, laptop)) {
    :host {
        margin: 0 map-get(theme.$spacing, page-wide);
    }

    ol {
        display: flex;
        justify-content: space-between;
    }
}