@use 'src/assets/scss/theme.scss' as theme;

:host {
    display: block;
    background-color: map-get(theme.$palettes, white);
}

app-post {
    border: none;
    padding: 0;
}

.title {
    margin-bottom: map-get(theme.$spacing, std);

    text-align: center;
    font-size: map-get(theme.$text, subtitle);
    letter-spacing: 4px;

    &.empty {
        padding-bottom: 15vh;
    }
}

@media (min-width: map-get(theme.$screens, laptop)) {
    .title {
        font-size: map-get(theme.$text, heading);
    }

    .feed {
        display: flex;
        justify-content: space-between;
    }
}