@use 'src/assets/scss/theme.scss' as theme;

:host {
    display: block;
    padding-top: map-get(theme.$spacing, large);
    background-color: map-get(theme.$palettes, white);
}

p, span { 
    margin: 0;
    z-index: 10;
    pointer-events: none;
}

.title { 
    margin: 0 map-get(theme.$spacing, page); 
    margin-bottom: map-get(theme.$spacing, std);
}

.oversize {
    align-items: flex-end;
}

.large {
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    & > .subtitle { text-align: end; }
}

.wide {
    flex-direction: column;
    align-items: flex-start;
}

.small {
    justify-content: flex-end;
    align-items: flex-end;
    text-align: end;
}

.split {
    margin: 0 24px;
}

.subtitle {
    font-size: calc(18rem / #{map-get(theme.$text, std)});
}

.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
 
    background-position: center;
    background-size: contain;
}

.blur {
    transition: none;
    &:hover {
        filter: blur(4px);
        margin: -5px;
    }
}

.grid {
    $gap: 12px;
    // For .small to be square, it's width ratio divides it's height ratio. So (1/4) / (4/12) = 0.75.
    $sqr-ratio: 0.75;

    height: calc((100vw - (#{map-get(theme.$spacing, page-wide)} * 2) - #{theme.$scrollbar}) * #{$sqr-ratio} - #{$gap});
    margin: 0 map-get(theme.$spacing, page-wide);

    display: grid;
    grid-template-rows: 6fr 2fr 4fr;
    grid-gap: $gap;
    gap: $gap;

    & > app-quick-player { height: auto; }

    & > .oversize { 
        grid-area: 1 / auto / auto / span 8;
        font-size: calc(36rem / #{map-get(theme.$text, std)});
    }

    & > .large { grid-area: 1 / auto / auto / span 4; }

    & > .wide { 
        grid-area: auto / auto / auto / span 4;
        font-size: calc(24rem / #{map-get(theme.$text, std)});
    }

    & > .small {
        grid-area: auto / auto / auto / span 3;
        font-size: calc(24rem / #{map-get(theme.$text, std)});
    }
}


@media (min-width: map-get(theme.$screens, laptop)) {
    .title { 
        margin: 0 map-get(theme.$spacing, page-wide);
        margin-bottom: map-get(theme.$spacing, std);
    }
}