<div>
    <h1 class="list-heading">Navigation</h1>
    <ul class="navlist">
        <li>
            <a class="navlink" routerLink="/home">主页 | Home</a>
        </li>
        <li>
            <a class="navlink" routerLink="/updates">动态 | Updates</a>
        </li>
        <li>
            <a class="navlink" routerLink="/discography">作品集 | Discography</a>
        </li>
        <li>
            <a class="navlink" routerLink="/media">媒体 | Media</a>
        </li>
    </ul>
    
    <h1 class="list-heading">Social Media</h1>
    <ul class="navlist">
        <li>
            <a class="navlink social facebook" href="#">
                <fa-icon [icon]="faFacebookSquare" size="lg"></fa-icon>
                <span>Facebook</span>
            </a>
        </li>
        <li>
            <a class="navlink social instagram" href="#">
                <fa-icon [icon]="faInstagram" size="lg"></fa-icon>
                <span>Instagram</span>
            </a>
        </li>
        <li>
            <a class="navlink social soundcloud" href="#">
                <fa-icon [icon]="faSoundcloud" size="lg"></fa-icon>
                <span>Sound Cloud</span>
            </a>
        </li>
        <li>
            <a class="navlink social weixin" href="#">
                <fa-icon [icon]="faWeixin" size="lg"></fa-icon>
                <span>微信</span>
            </a>
        </li>
    </ul>
    
    <h1 class="list-heading">Legals</h1>
    <ul class="navlist">
        <li>
            <a class="navlink" routerLink="/legal">Privacy Policy | 隐私条款</a>
        </li>
        <li>
            <a class="navlink" routerLink="/legal">Terms & Conditions</a>
        </li>
        <li>
            <a class="navlink" href="#">Login</a>
        </li>
    </ul>
</div>

<div>
    <p class="foot-note">©2021 Kaze Patricio Chan. All Rights Reserved.</p>
    <p class="foot-note">Web Design by Michael May</p>
</div>