@if(selectedPhoto$ | async; as selectedPhoto) {
    <p class="display-6">{{ selectedPhoto.description }}</p>
    <div class="d-flex my-3 ms-1">
        <fa-icon [icon]="faClock" size="sm" />
        <small class="ms-2">{{ selectedPhoto.date.toDate().toDateString() }}</small>
    </div>
}

<div class="gallery-wrapper row justify-content-center mx-1">
    @if(galleryItems$ | async; as galleryItems) {
        <gallery
            id="galleryRef"
            [thumbPosition]="mdScreen() ? 'bottom' : 'right'"
            [slidingDirection]="mdScreen() ? 'horizontal' : 'vertical'"
            [autoPlay]="true"
            [playerInterval]="5000"
            [counter]="false"
            [items]="galleryItems"
            (indexChange)="onIndexChange($event)"
            (mouseenter)="onMouseEnter()"
        />
    }
</div>