<div class="gallery-wrapper row justify-content-center">
    @if(photos$ | async; as photos) {
        <gallery
            thumbPosition="right"
            slidingDirection="vertical"
            [autoPlay]="true"
            [playerInterval]="5000"
            [counter]="false"
            [items]="photos"
            (indexChange)="onIndexChange($event)"
        />
    }
</div>

@if(selectedPhoto$ | async; as selectedPhoto) {
    <div class="d-flex mt-3">
        <fa-icon [icon]="faClock" size="sm" />
        <small class="ms-1">{{ selectedPhoto.date.toDate().toDateString() }}</small>
    </div>
    <p class="display-5">{{ selectedPhoto.description }}</p>
}