<div class="row my-3">
    <!-- One large block -->
    <div class="col-md-8 col-12 p-3" *ngIf="(oversizeItem$ | async) as item" (mouseenter)="hover = item" (mouseleave)="hover = null">
        <a class="fade-in card bg-dark text-white w-100 card-big" style="height:20rem; white-space: pre-line;"
            [href]="item.url">
            <img class="card-img" [src]="(item.image$ | async) || ''" [default]="stockImage$ | async" [ngStyle]="{ filter: hover == item ? 'opacity(.5) blur(5px)' : '' }">
            <div class="card-img-overlay d-flex flex-column" [ngStyle]="{ opacity: hover == item ? '1' : '0' }">
                <h2 class="display-3 card-text flex-grow-1 d-flex justify-content-end align-items-end">
                    {{ item.title }} | <span class="h3">{{ item.subtitle }}</span>
                </h2>
            </div>
        </a>
    </div>

    <!-- Second large block -->
    <div class="col-md-4 col-12 p-3" *ngIf="(largeItem$ | async) as item" (mouseenter)="hover = item" (mouseleave)="hover = null">
        <a class="fade-in card bg-dark text-white w-100 card-big" style="height: 20rem;"
            [href]="item.url">
            <img class="card-img" [src]="(item.image$ | async) || ''" [default]="stockImage$ | async" [ngStyle]="{ filter: hover == item ? 'opacity(.5) blur(5px)' : '' }">
            <div class="card-img-overlay d-flex flex-column" [ngStyle]="{ opacity: hover == item ? '1' : '0' }">
                <h2 class="h1 card-text">{{ item.title }}</h2>
                <p class="h1 card-text flex-grow-1 d-flex d-flex justify-content-end align-items-end">
                    {{ item.subtitle }}
                </p>
            </div>
        </a>
    </div>

    <!-- Medium sized blocks -->
    <div class="col-md-4 col-12 p-3" *ngFor="let item of wideItems$ | async" (mouseenter)="hover = item" (mouseleave)="hover = null">
        <a class="fade-in card bg-dark text-white w-100 card-mid" style="height: 8rem;" [href]="item.url">
            <img class="card-img" [src]="(item.image$ | async) || ''" [default]="stockImage$ | async" [ngStyle]="{ filter: hover == item ? 'opacity(.5) blur(5px)' : '' }">
            <div class="card-img-overlay" [ngStyle]="{ opacity: hover == item ? '1' : '0' }">
                <h2 class="h5 card-text">{{ item.title }}</h2>
                <p class="card-text">{{ item.subtitle }}</p>
            </div>
        </a>
    </div>

    <!-- Small blocks, all remaining -->
    <div class="col-md-3 d-md-block d-none p-3" *ngFor="let item of items$ | async" (mouseenter)="hover = item" (mouseleave)="hover = null">
        <a class="fade-in card bg-dark text-white w-100 card-small" style="height: 12rem;" [href]="item.url">
            <img class="card-img" [src]="(item.image$ | async) || ''" [default]="stockImage$ | async" [ngStyle]="{ filter: hover == item ? 'opacity(.5) blur(5px)' : '' }">
            <div class="card-img-overlay d-flex flex-column" [ngStyle]="{ opacity: hover == item ? '1' : '0' }">
                <h2 class="card-text flex-grow-1 d-flex align-items-end text-right">
                  {{ item.title }}
                </h2>
            </div>
        </a>
    </div>

</div>
