<div class="row my-3">
    <!-- One large block -->
    <div class="col-md-8 col-sm-12 p-3" *ngIf="(oversizeItem$ | async) as item">
        <a class="fade-in card bg-dark text-white w-100 card-big" style="height:20rem;"
            [href]="item.url">
            <img class="card-img" [src]="(item.image$ | async) || ''" [default]="stockImage$ | async">
            <div class="card-img-overlay d-flex flex-column">
                <h5 class="card-title">{{ item.title }}</h5>
                <div class="card-text flex-grow-1 d-flex justify-content-end align-items-end">
                    <p>{{ item.description }}</p>
                    <!-- <p class="card-text">Last updated 3 mins ago</p> -->
                </div>
            </div>
        </a>
    </div>

    <!-- Second large block -->
    <div class="col-md-4 col-sm-12 p-3" *ngIf="(largeItem$ | async) as item">
        <a class="fade-in card bg-dark text-white w-100 card-big" style="height: 20rem;"
            [href]="item.url">
            <img class="card-img" [src]="(item.image$ | async) || ''" [default]="stockImage$ | async">
            <div class="card-img-overlay d-flex flex-column">
                <h5 class="card-title">{{ item.title }}</h5>
                <div class="card-text flex-grow-1 d-flex justify-content-end align-items-end">
                    <p>{{ item.description }}</p>
                    <!-- <p class="card-text">Last updated 3 mins ago</p> -->
                </div>
            </div>
        </a>
    </div>

    <!-- Medium sized blocks -->
    <div class="col-md-4 col-sm-12 p-3" *ngFor="let item of wideItems$ | async">
        <a class="fade-in card bg-dark text-white w-100 card-mid" style="height: 8rem;" [href]="item.url">
            <img class="card-img" [src]="(item.image$ | async) || ''" [default]="stockImage$ | async">
            <div class="card-img-overlay">
                <h5 class="card-title">{{ item.title }}</h5>
                <div class="card-text">
                    <p>{{ item.description }}</p>
                    <!-- <p class="card-text">Last updated 3 mins ago</p> -->
                </div>
            </div>
        </a>
    </div>

    <!-- Small blocks, all remaining -->
    <div class="col-md-3 col-sm-6 p-3" *ngFor="let item of items$ | async">
        <a class="fade-in card bg-dark text-white w-100 card-small" style="height: 12rem;" [href]="item.url">
            <img class="card-img" [src]="(item.image$ | async) || ''" [default]="stockImage$ | async">
            <div class="card-img-overlay d-flex flex-column">
                <h5 class="card-title">{{ item.title }}</h5>
                <div class="card-text flex-grow-1 d-flex align-items-end">
                    <p>{{ item.description }}</p>
                    <!-- <p class="card-text">Last updated 3 mins ago</p> -->
                </div>
            </div>
        </a>
    </div>

</div>
