<app-banner [quote$]="quote$" [backgroundUrl]="'banner-2.jpg'" [altColour]="'#C61C49'"></app-banner>

<button class="btn btn-link ml-5" *ngIf="loggedIn" (click)="edit('music')">
    <fa-icon [icon]="['far', 'edit']" size="2x"></fa-icon>
    <h4 class="d-inline ml-2">Edit Music Backlog</h4>
</button>

<!-- SEO Optimisation -->
<h1 class="d-none">Discography | 作品集</h1>

<div class="container my-5 pt-5" style="min-height: 50vh;">
    <div class="row">
        <div class="fade-in col-lg-3 col-md-4 col-sm-12 my-3" *ngFor="let music of musics$ | async">
            <div class="card bg-dark text-white" (mouseenter)="hover = music" (mouseleave)="onMouseLeave()">

                <!-- Image overlay -->
                <img class="card-img square" [ngStyle]="{ filter: hoverStyle(music), height: '14rem' }" [src]="(music.cover$ | async) || ''" default="assets/images/record-vinyl-solid.svg">

                <div class="card-img-overlay" [ngSwitch]="music.state">
                    <!-- Neutral State -->
                    <div class="d-flex flex-column justify-content-between h-100" *ngSwitchCase="State.INACTIVE" (click)="activate(music)">
                        <div [ngClass]="hover == music ? 'd-none' : ''">
                            <h5 class="card-title">{{ music.title }}</h5>
                            <p class="card-text my-2">{{ music.genre }}</p>
                        </div>
                        <small class="card-text" [ngClass]="hover == music ? 'd-none' : ''">
                            {{ music.date | date:'fullDate' }}
                        </small>
                    </div>
                    <!-- Active State -->
                    <div class="d-flex justify-content-center align-items-center h-100" *ngSwitchCase="State.ACTIVE">
                        <button class="btn btn-link text-white" (click)="play(music)" [hidden]="!music.audioKey">
                            <fa-icon [icon]="['far', 'play-circle']" size="2x"></fa-icon>
                        </button>
                        <button class="btn btn-link text-white" routerLink="/discography/{{ music.id }}">
                            <fa-icon icon="info-circle" size="2x"></fa-icon>
                        </button>
                    </div>
                    <!-- Loading State -->
                    <div class="d-flex justify-content-center align-items-center h-100" *ngSwitchCase="State.LOADING" (click)="back(music)">
                        <div class="spinner-grow text-primary" role="status"></div>
                        <div class="spinner-grow text-primary" role="status"></div>
                        <div class="spinner-grow text-primary" role="status"></div>
                    </div>
                    <!-- Playing State -->
                    <div class="flex-column justify-content-between h-100" [ngClass]="music.state == State.LOADING ? 'd-none' : 'd-flex'" *ngIf="music.state == State.LOADING || music.state == State.PLAYING">
                        <div>
                            <h5 class="card-title">{{ music.title }}</h5>
                            <div class="d-flex justify-content-between">
                                <p class="card-text my-2">{{ music.genre }}</p>
                                <div>
                                    <button class="btn btn-link" (click)="redirect(music)" [hidden]="!music.soundCloud">
                                        <fa-icon [icon]="['fab', 'soundcloud']" [styles]="{ 'color': '#FF4300' }"></fa-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div>
                            <audio #Player (play)="onPlay($event)" [src]="(music.audio$ | async) || ''" controls style="width: 130%; transform: scale(0.8); margin-left: -15%;"></audio>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row mb-5 justify-content-center">
        <div class="col-auto">
            <button class="btn btn-secondary btn-lg shadow" (click)="showMore()" [hidden]="!more">
                Show More
            </button>
        </div>
    </div>
</div>

<app-email></app-email>
