/* You can add global styles to this file, and also import other style files */
@import "./custom.scss";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

textarea {
    resize: none;
}

.full-bg.jumbotron-fluid {
    background:
        linear-gradient(map-get($theme-colors, 'tertiary') 0%, red 90%), 
        linear-gradient(to right, map-get($theme-colors, 'tertiary') 0%, yellow 90%), 
        url('assets/images/home-banner.jpg') 30px,
        url('assets/images/home-banner.jpg') 20px;
    background-blend-mode: screen, difference, lighten;
    background-size: cover;
}

.infinite-scroll {
    overflow: hidden;
    position: relative;
}

.infinite-scroll > ul {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    /* Increase/Decrease this value for cross-browser compatibility */
    left: -17px;
    right: -17px;
    padding-left: 17px;
    padding-right: 17px;

    list-style: none;
}

.infinite-scroll > ul > li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.infinite.progress-bar {
    animation: infinite 3s linear infinite;
}

@keyframes infinite {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
}

.fade-in {
    animation: fade-in .8s ease forwards;
    opacity: 0;
}

@keyframes fade-in {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

@include media-breakpoint-down(md) {
    .quote.display-4 {
        font-size: 2rem;
    }
}
