<div class="bg-dark" style="position:absolute; top:0; left:0; width: 100%; height: 60vh; z-index: -1;"></div>

<div class="container-fluid bg-dark">
    <div class="row py-5 justify-content-end">
        <div class="col-md-8 col-sm-12">

            <div class="card w-100" *ngIf="(profile$ | async) as profile">
                <img src="./assets/images/home-banner.jpg" class="card-img-top" height="180px" style="object-fit: cover">

                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-9 col-md-12">
                            <h1 class="card-title">
                                <img src="./assets/images/heading-solid.svg" height="70rem" height="70rem">
                                <div class="d-inline ml-3 align-top">{{ title }}</div>
                            </h1>
                            
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Share link: </span>
                                </div>
                                <input #shareLink
                                class="form-control" 
                                aria-label="share link"
                                [value]="'http://kazepatriciochan.com/blogs/' + title.replace(' ', '%20')"
                                (focus)="selectAll()"
                                >
                            </div>

                            <p class="card-text">
                                <small class="text-muted">Posted on {{ date }}</small>
                            </p>
                        </div>
                        <div class="col-lg-3 d-none d-md-block">
                            <img 
                            style="border-radius: 50%;"
                            [src]="portrait$ | async" 
                            default="./assets/images/no-avatar.png" 
                            height="120px" 
                            width="120px"
                            >
                        </div>
                    </div>

                </div>
            </div>

            <div *ngIf="(current$ | async) as current" [@fadeInCard]>
                <div class="card w-100 my-3">
                    <div class="card-body">
                        <div class="mx-3" [innerHTML]="current"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-3 col-md-4 col-sm-12 text-white">
            <div *ngIf="(history$ | async) as history" [@fadeInOpt]>
                <div class="anim-obj">
                    <h2 class="d-none d-lg-block">
                        <div class="d-inline d-lg-block display-4">历史发布</div>
                        <div class="d-inline d-lg-block h1 text-monospace text-lg-uppercase">Past Posts</div>
                    </h2>
                    <hr class="d-lg-none" />
                    <h2 class="d-lg-none mt-3">Past Posts | 历史发布</h2>
                    <ul
                    class="history-list"
                    infiniteScroll
                    [infiniteScrollDistance]="2"
                    [infiniteScrollThrottle]="50"
                    [scrollWindow]="false"
                    (scrolled)="onScroll()"
                    >
                        <li class="history-item" *ngFor="let post of history">
                            <a (click)="onSelect(post)">{{ post.title }}</a>               
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

<app-email></app-email>