<div class="bg-dark" style="position:absolute; top:0; left:0; width: 100%; height: 60vh; z-index: -1;"></div>
<div class="container-fluid bg-dark">
    <div class="row py-5 justify-content-end">

        <div class="col-md-8 col-sm-12" [@fadeIn]>

            <div class="card w-100">
                <img src="./assets/images/stock-2.jpg" class="card-img-top" height="180px" style="object-fit: cover">

                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-9 col-md-12">
                            <h5 class="card-title">Kaze Patricio Chan</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Music Professor at Shenzhen University</h6>
                            <a href="www.instagram.com" class="card-link">
                                <img src="./assets/images/instagram-brands.svg" height="20rem" height="20rem">
                                Instagram
                            </a>
                            <a href="www.linkedin.com" class="card-link">
                                <img src="./assets/images/linkedin-brands.svg" height="20rem" height="20rem">
                                LinkedIn
                            </a>
                            <p class="card-text"><small class="text-muted">Posted on 20 Sept 2019</small></p>
                        </div>
                        <div class="col-lg-3 d-none d-md-block">
                            <img src="./assets/images/no-avatar.png" height="120px" width="120px">
                        </div>
                    </div>

                </div>


            </div>

            <div class="card w-100 my-3">
                <div class="card-body">

                    <h2 class="h3 mx-3 my-4">Lorem ipsum !</h2>

                    <p class="card-text mx-3">
                        Lorem ipsum dolor sit amet consectetur adipiscing elit, duis integer nostra augue eleifend
                        primis
                        facilisis, aptent nibh felis scelerisque dis libero. Euismod eros est feugiat aliquet interdum
                        fermentum
                        mauris mollis imperdiet integer potenti,
                    </p>
                    <p class="card-text mx-3">
                        viverra ad cubilia arcu velit iaculis hac primis nam suscipit, lacinia et nascetur dui vulputate
                        cras
                        cursus parturient platea fusce. Mollis sem metus mi mauris fames neque himenaeos dictumst,
                        imperdiet
                        arcu erat vehicula litora ullamcorper senectus, aliquet donec augue congue condimentum accumsan
                        vitae.
                    </p>
                    <p class="card-text mx-3">
                        Lorem ipsum dolor sit amet consectetur adipiscing elit, duis integer nostra augue eleifend
                        primis
                        facilisis, aptent nibh felis scelerisque dis libero. Euismod eros est feugiat aliquet interdum
                        fermentum
                        mauris mollis imperdiet integer potenti,
                    </p>
                    <p class="card-text mx-3">
                        viverra ad cubilia arcu velit iaculis hac primis nam suscipit, lacinia et nascetur dui vulputate
                        cras
                        cursus parturient platea fusce. Mollis sem metus mi mauris fames neque himenaeos dictumst,
                        imperdiet
                        arcu erat vehicula litora ullamcorper senectus, aliquet donec augue congue condimentum accumsan
                        vitae.
                    </p>
                    <p class="card-text mx-3">
                        Lorem ipsum dolor sit amet consectetur adipiscing elit, duis integer nostra augue eleifend
                        primis
                        facilisis, aptent nibh felis scelerisque dis libero. Euismod eros est feugiat aliquet interdum
                        fermentum
                        mauris mollis imperdiet integer potenti,
                    </p>
                    <p class="card-text mx-3">
                        viverra ad cubilia arcu velit iaculis hac primis nam suscipit, lacinia et nascetur dui vulputate
                        cras
                        cursus parturient platea fusce. Mollis sem metus mi mauris fames neque himenaeos dictumst,
                        imperdiet
                        arcu erat vehicula litora ullamcorper senectus, aliquet donec augue congue condimentum accumsan
                        vitae.
                    </p>
                </div>
            </div>

        </div>

        <div class="col-lg-3 col-md-4 col-sm-12 text-white">

            <h2 class="h4 ml-4">Past Posts</h2>

            <ul class="history-list">
                <li class="history-item">Cras justo odio</li>
                <li class="history-item">Dapibus ac facilisis in</li>
                <li class="history-item">Cras justo odio</li>
                <li class="history-item">Dapibus ac facilisis in</li>
                <li class="history-item">Cras justo odio</li>
                <li class="history-item">Dapibus ac facilisis in</li>
            </ul>

        </div>

    </div>
</div>

<app-email></app-email>