.history-list {
    list-style: none;
    height: 14rem;
    overflow-y: hidden;
}

.history-list:hover {
    overflow-y: scroll;
}

.history-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

p {
    // font-size: 1rem;
    line-height: 200%;
}