@use 'src/assets/scss/theme.scss' as theme;

app-footer {
    position: absolute;
    top: 0;
    left: 17.5px;
    width: calc(25% - 17.5px - 74px);
    height: calc(100vh - 88px);
    margin: 0 map-get(theme.$spacing, std);
    padding: 0;

    display: none;
    justify-content: space-between;

    color: map-get(theme.$palettes, black);
    background-color: transparent;
}

app-feed-history {
    display: none;
}

@media (min-width: map-get(theme.$screens, laptop)) {
    :host {
        position: relative;
        display: block;
    }

    app-footer {
        display: flex;
    }

    app-feed-history {
        display: block;
    }
}