<app-editor-modal>
    <div class="modal-body container-fluid">
        <div class="row">
            <div class="col-6" style="max-height: 75vh;">
                <div class="infinite-scroll h-100">
                    <ul
                        class="list-group"
                        infiniteScroll
                        [infiniteScrollDistance]="2"
                        [infiniteScrollThrottle]="50"
                        [scrollWindow]="false"
                        (scrolled)="onScroll()"
                    >
                        @for(photo of photos$ | async; track photo.id) {
                            <li 
                                class="list-group-item d-flex align-items-center"
                                [class.active]="selected()?.id == photo.id" 
                                (click)="selectPhoto(photo)"
                            >
                                @if(photo.thumbnail) {
                                    <img src="{{ photo.thumbnail }}" height="100" width="100">
                                } @else {
                                    <div class="d-flex justify-content-end align-items-center bg-dark" style="height: 100px; width: 100px">
                                        <fa-icon
                                            [icon]="faVideo"
                                            size="3x"
                                            [classes]="['me-3']"
                                            [styles]="{ 'color': 'white' }"
                                        >
                                        </fa-icon>
                                    </div>
                                }
                                <div class="flex-1 mx-2 d-flex flex-column justify-content-end">
                                    <p>{{ photo.description }}</p>
                                    <p><small>{{ photo.date.toDate() | date:'fullDate' }}</small></p>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <app-photo-editor class="col-6" style="max-height: 75vh;" (action)="onAction($event)"/>
        </div>
    </div>
</app-editor-modal>